 /* Main Styles */

body {
    margin: 0px;
}

.container {
    display: grid;
    /* create a template columns using 1 FRACTIONAL UNIT */
    grid-template-columns: 1fr;
}



 /* Nav Styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(209, 236, 245);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

.left-side{
    display: flex;
}
.right-side{
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 15px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
    margin-right: 10px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.nav-link a:hover {
    color: black;
}

/* Protfolio Styles */
.cat-pictures-wrapper {
    padding-top: 84px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cat-picture-wrapper {
    position: relative;
}

.cat-img-background {
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cat-img-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}