 /* Main Styles */

body {
    margin: 0px;
    background-color: rgb(233, 233, 233);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}



 /* Nav Styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(177, 214, 228);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

.left-side{
    display: flex;
}
.right-side{
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 15px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.nav-wrapper > .right-side > div {
    margin-right: 10px;
    font-size: 1.3em;
    text-transform: uppercase;
}

.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link:hover {
    border-bottom: 2px solid #afafaf;
}

.nav-link a:hover {
    color: #afafaf;
}

.svg-link:hover {
    font-size: 1.5em;
}


/* BELOW THE NAV BAR */

.content-wrapper {
    padding-top: 84px;
    margin-left: auto;
    margin-right: auto;
}

/* Intro */

.profile-picture-wrapper{
    padding-top: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.profile-picture-wrapper > img {
    padding: 25px;
    height: 350px;
    background-color: #98ceb8;
}

.profile-picture-circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.intro-wrapper {
}

.intro-text-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

.intro-header {
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 30pt;
}

.intro-body {
    display: flex;
    align-items:center;
    text-align: center;
    font-size: 18pt;
}

/* Projects */
.projects-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    background-color: lightgray;
}

.project-text {
    margin: 30px;
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.project-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-img > img{
    height: 350px;
    width: auto;
}

.project-vid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-vid > video{
    height: 350px;
    width: auto;
}

/* About Me */
/* Cat Pic Styles */
.cat-pictures-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cat-picture-wrapper {
    position: relative;
}

.cat-img-background {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cat-img-text {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.cat-img-text .subtitle {
    word-wrap: normal;
    color: transparent;
    transition: 0.5s;
    font-size: 16pt;
    font-weight: lighter;
}

.cat-img-text:hover .subtitle{
    word-wrap: normal;
    color: red;
}

.img-blur {
    transition: 0.3s;
    filter: blur(5px) brightness(50%);
}

.box-shadow{
    background: #ccc;
    box-shadow: 4px 3px 8px 1px #969696;
        -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

/* RESUME.HTML */
.resume-wrapper {
    margin-top: 2opx;
}

.resume-wrapper > embed {
    width: 1000px;
    height: 800px;
}


.footer {
    padding: 20px;
    background-color: rgb(177, 214, 228);
    z-index: 999;
}