$blue1: #B8FFEC;
$blue2: #95F0D8;
$blue3: #55A38F;
$red1: #F05729;
$red2: #A35137;

* {
    margin:0px;
    padding:0px;
  }

  #bg-grad{
    background-image: linear-gradient(white, $blue1)
  }
  
  title {
    display: block;
    margin: 50px auto;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 35px;
  }
  
  .img-bg {
    padding:5px;
    background-color: $red1;
  }

  p {
    margin-left:20px;
    padding-left:20px;
    padding-right:20px;
    display: block;
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    background-color: $blue2;
  }
